<mat-card>
  <mat-card-header>
      <button routerLink="" mat-card-avatar mat-mini-fab color="primary">
        <mat-icon>home</mat-icon>
      </button>
      <mat-card-title>Register New Farm</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-divider></mat-divider>
      <h4>to register a new farm fill in the form</h4>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Farm Name</mat-label>
          <input matInput placeholder="Farm Name" name="farm_name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Owner Name</mat-label>
          <input matInput placeholder="Owner name" name="owner_name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="just numbers" name="cpf">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Total Area</mat-label>
          <input matInput name="total_area">
          <span matSuffix>km</span>
        </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">Save</button>
  </mat-card-actions>
</mat-card>